
@{
    Layout = null;
}

<style>

</style>


@if (Request.IsAuthenticated)
{
    <div layout="row">
        <md-input-container>
            <label>Name</label>
            <input ng-model="petSaveController.pet.Name">
        </md-input-container>
    </div>

    <div layout="row">

        <md-input-container>
            <label>Location</label>
            <input ng-model="petSaveController.pet.Location">
        </md-input-container>
    </div>

    <div layout="row">


        <form name="newPhotosForm" role="form" enctype="multipart/form-data">
            <div class="form-group" ng-hide="hasFiles">
                <label>Upload imagine</label>
                <input type="file" id="newPhotos" class="uploadFile" accept="image/*" ngf-select ng-model="file" ng-change="petSaveController.uploadImagine(file)" ngf-multiple="true">
            </div>
        </form>
    </div>

    <div>
        <img ng-src="{{petSaveController.pet.ImageUrl}}" />
    </div>

    <div layout="row">
        <div flex-gt-xs>
            <md-datepicker ng-model="ctrl.myDate" md-placeholder="Birth date" md-open-on-focus></md-datepicker>
        </div>
    </div>


    <div layout-gt-xs="row">

    </div>

    <br />

    <md-input-container class="md-block">
        <label>Description</label>
        <textarea ng-model="petSaveController.pet.Description" maxlength="100" rows="5"> </textarea>
    </md-input-container>

    <br />
    <div style="text-align:center"> Species </div>
    <br />
    <md-radio-group layout="row" ng-model="petSaveController.pet.Species">
        <md-radio-button value="1"> DOG </md-radio-button>
        <md-radio-button value="2"> CAT </md-radio-button>
        <md-radio-button value="3"> RODENT </md-radio-button>
        <md-radio-button value="4"> FISH </md-radio-button>
        <md-radio-button value="5"> REPTILE </md-radio-button>
        <md-radio-button value="6"> INSECTS </md-radio-button>
        <md-radio-button value="7"> HORSE </md-radio-button>
        <md-radio-button value="9"> OTHER </md-radio-button>
    </md-radio-group>

    <br />
    <br />
    <div style="text-align:center"> Pure Breed </div>
    <br />
    <div style="text-align:center">
        <md-radio-group layout="row" ng-model="petSaveController.pet.PureBreed">
            <md-radio-button value="true"> Yes </md-radio-button>
            <md-radio-button value="false"> No </md-radio-button>
        </md-radio-group>
    </div>


    <md-input-container>
        <label>Breed</label>
        <input ng-model="petSaveController.pet.Breed">
    </md-input-container>

    <br />
    <div style="text-align:center"> Colour </div>
    <br />

    <md-radio-group layout="row" ng-model="petSaveController.pet.MainColour">
        <md-radio-button value="1"> WHITE </md-radio-button>
        <md-radio-button value="2"> BLACK </md-radio-button>
        <md-radio-button value="3"> BROWN </md-radio-button>
        <md-radio-button value="4"> RED </md-radio-button>
        <md-radio-button value="5"> GRAY </md-radio-button>
        <md-radio-button value="6"> CREAM </md-radio-button>
        <md-radio-button value="7"> FAWN </md-radio-button>
        <md-radio-button value="9"> BLUE </md-radio-button>
    </md-radio-group>


    <br />
    <div style="text-align:center"> Fur </div>
    <br />
    <md-radio-group layout="row" ng-model="petSaveController.pet.FurType">
        <md-radio-button value="1"> SMOOTH </md-radio-button>
        <md-radio-button value="2"> WHIRE </md-radio-button>
        <md-radio-button value="3"> LONG </md-radio-button>
        <md-radio-button value="4"> CURLY </md-radio-button>
    </md-radio-group>

    <br />
    <div style="text-align:center"> Size </div>
    <br />
    <div style="text-align:center">
        <md-radio-group layout="row" ng-model="petSaveController.pet.Size">
            <md-radio-button value="1"> NORMAL </md-radio-button>
            <md-radio-button value="2"> SMALL </md-radio-button>
            <md-radio-button value="3"> MEDIUM </md-radio-button>
            <md-radio-button value="4"> LARGE </md-radio-button>
            <md-radio-button value="5"> EXTRALARGE </md-radio-button>
            <md-radio-button value="6"> TOY </md-radio-button>
        </md-radio-group>
    </div>

    <br />
    <br />



    <div style="text-align:center">
        <md-button ng-click="petSaveController.save()" class="md-raised">ADD PET</md-button>
    </div>

}

