<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />




<md-card>
    <img src="card-image.png" class="md-card-image" alt="image caption">
    <md-card-content>
        <h2>{{userDetailsController.user.Name}} {{userDetailsController.user.Surname}} </h2>
    </md-card-content>
    <md-card-footer>
        {{userDetailsController.user.Description}}
    </md-card-footer>
</md-card>